.ipynb_checkpoints*
no-git
~*
DS_Store
*.DS_Store*
*__pycache__*
*/__pycache__
*/__pycache__/*
*.o
*.EXE_*
.ipy*
*flaskmodel.py
tapp/static/jexcel/
tapp/static/jsuites/
tapp/static/ignore
tempARX
tapp/db.sqlite3
db.sqlite3
test
*/*/gen/*
